body {
	font-family: 'Montserrat', sans-serif;
	color: $gray;
	background-color: #f8f9ff;
}

.media-frame a,
a {
	color: $blue;

	&:hover,
	&:focus {
		color: darken($blue, 10%);
		box-shadow: none;
	}
}

h1,
h2,
h3 {
	color: $body-color;
}

.postbox .inside h2,
.wrap [class$=icon32]+h2,
.wrap h1,
.wrap>h2:first-child {
	font-size: 28px;
	font-weight: 600;
	color: $body-color;
}