$turquoise: #24d3ee;
$blue: #3d21d2;
$purple: #b7a0f6;
$gray: #5a678e;
$gray-light: #ebeff8;
$red: #a00;

$primary: #ff399e;
$secondary: #1c0f69;
$third: #181323;
$body-color: $gray;
$border-color: $gray-light;
$danger: $red;

$box-shadow: 0px 4px 13px 0px rgba(57, 70, 115, 0.05);