.color-white {
    color: $color-white;
}

.color-primary {
    color: $color-primary;
}

.color-whatsapp {
    color: $whatsapp-color;
}

.color-yellow {
    color: $color-yellow-1;
}

.color-secondary {
    color: $color-secondary;
}

.color-third {
    color: $color-third;
}

.color-fourth {
    color: $color-fourth;
}

.color-fifth {
    color: $color-fifth;
}

.color-grey-v9 {
    color: $color-grey-9;
}

.color-grey-v10 {
    color: $color-grey-10;
}