$icomoon-font-path: "fonts" !default;

$dawei-admin-collapse: \e900;
$dawei-admin-comments: \e901;
$dawei-admin-media: \e902;
$dawei-admin-page: \e903;
$dawei-admin-settings: \e904;
$dawei-admin-tools: \e905;
$dawei-admin-users: \e906;
$dawei-arrow-down: \e907;
$dawei-arrow-up: \e908;
$dawei-dashboard: \e909;
$dawei-lock: \e90a;
$dawei-plus: \e90b;
$dawei-star-empty: \e90c;
$dawei-yes: \e90d;

