.media-modal-content {
	border: none;
	box-shadow: $box-shadow;
	border-radius: 2px;
}

.media-frame-content {
	border-top-color: $border-color;
}

.edit-attachment-frame .attachment-info {
	box-shadow: none;
	border-left-color: $border-color;
}

.edit-attachment-frame .edit-media-header .left,
.edit-attachment-frame .edit-media-header .right,
.upload-php .media-modal-close,
.edit-attachment-frame .edit-media-header .left:focus,
.edit-attachment-frame .edit-media-header .left:hover,
.edit-attachment-frame .edit-media-header .right:focus,
.edit-attachment-frame .edit-media-header .right:hover,
.upload-php .media-modal-close:focus,
.upload-php .media-modal-close:hover {
	border-color: $border-color;
}

.edit-attachment-frame .attachment-details {
	box-shadow: none;
}