.bg-black {
    background-color: $color-black;
}

.bg-yellow {
    background-color: $color-yellow;
}

.bg-grey {
    background: $color-grey-6;
}

.bg-white {
    background-color: $color-white;
}

.bg-primary {
    background-color: $color-primary;
}